.card1 {
    width: 400px !important;
    float: left;
    margin: 15px;
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px rgb(113, 112, 112);
    border: 2px solid black;
}

.img1 {
    height: 300px;
}

.btn1 {
    margin-left: 650px;
}

.btn1 button {
    margin: 20px;
    padding: 7px;
    width: 120px;
}

.nlink {
    margin: 20px;
    text-decoration: none;
    color: black;
}

.rmbtn {
    color: white;
    background-color: rgb(34, 67, 83);
    text-decoration: none;
    font-size: larger;
}